<%- include("partials/header") -%>

<div class="jumbotron">
  <center>
    <h2>Idea Bank</h2><br>
    <div class="container">
      <p>An ideas bank is a widely available shared resource where people post, exchange, discuss, and polish new ideas.</p>
    <form class="" action="/home" method="post">
      <button type="submit" class="btn btn-primary" style="float: right">home</button>
    </form>
    </div>
  </center>
</div>

<%- include("partials/footer") -%>
