<%- include("partials/header") -%>
<div class="container div1" style="width: 50%; margin-top: 2%;">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-4">
    </div>
    <div class="col-lg-5 col-md-5 col-sm-5 col-5">
      <h1>Idea Bank</h1>
    </div>
  </div>
  <hr>
</div>
<center>
<p>Enter OTP sent your registered email</p>
</center>
<div class="container" style="width: 50%; margin: 0 0 0 25%">
  <!-- <form class="" action="/forgotpassverify" method="post">
    <div class="form-group row">
      <div class="col-sm-4 col-5 col-lg-3 col-md-3">
        <label for="inputEmail3" class=" col-form-label">Email <span>:</span><span class="star">*</span></label>
      </div>
      <div class="col-sm-8 col-7 col-md-9 col-lg-9">
        <input type="email" class="form-control" id="inputEmail3" name="email" placeholder="Email">
      </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-7 col-7 col-md-5 col-lg-5">
          <button type="submit" style="float: right" class="btn btn-primary">verify</button>
        </div>
      </div> -->
  <!-- </form> -->
  <center>
  <form style="width: 50%" action="/newpassword" method="post">
  <!-- <div class="form-row"> -->
    <!-- <div class="form-group col-md-6"> -->
      <label for="inputEmail4">Enter OTP</label>
      <input type="text" class="form-control" id="inputEmail4" name="otp" placeholder="OTP">
    <!-- </div> -->
  <!-- </div> -->
  <button type="submit" style="margin-top: 10px" class="btn btn-primary">Verify</button>
</form>
</center>
</div>
<%- include("partials/footer") -%>
